name: Build rmf-ros2 docker images

on:
  push:
    branches: ['cgh_ot_main', 'SBH-71-Add-auto-build-for-rmf-ros2']
  pull_request:
    branches: ['cgh_ot_main', 'SBH-71-Add-auto-build-for-rmf-ros2']
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4

    - name: Set branch name
      run: echo "branch_name=$(echo ${GITHUB_REF_NAME} | tr '/' '_' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

    - name: Set git commit SHA
      run: echo "git_sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

    - name: build rosdep 

      run: docker build --no-cache=true -t rosdep:latest -f build/builder-rosdep.Dockerfile .

    - name: check out source code
      run:  mkdir build/rmf-src && vcs import build/rmf-src < build/rmf.repos
      
    - name: Build rmf-ros2 Docker image
      run: docker build --no-cache=true -t rmf-ros2:latest -f build/Dockerfile .

    - name: Tag rmf-ros2 image
      run: docker tag rmf-ros2:latest hopetechnik/rmf-ros2:${{ env.git_sha_short }}

    - name: Tag rmf-ros2 image with branch
      run: docker tag rmf-ros2:latest hopetechnik/rmf-ros2:${{ env.branch_name }}-${{ env.git_sha_short }}

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push rmf-ros2 image with commit SHA
      run: docker push hopetechnik/rmf-ros2:${{ env.git_sha_short }}

    - name: Push rmf-ros2 image with branch and commit SHA
      run: docker push hopetechnik/rmf-ros2:${{ env.branch_name }}-${{ env.git_sha_short }}

    - name: Remove local rmf-ros2 image with commit SHA
      run: docker rmi hopetechnik/rmf-ros2:${{ env.git_sha_short }} || true

    - name: Remove local rmf-ros2 image with branch and commit SHA
      run: docker rmi hopetechnik/rmf-ros2:${{ env.branch_name }}-${{ env.git_sha_short }} || true

    - name: Remove local rmf-ros2 latest image
      run: docker rmi rmf-ros2:latest || true

    - name: Clean up Docker system
      run: docker system prune -f
